body {
    background-color: rgb(255, 255, 255);
}

#text {
    color: rgb(0, 0, 0)
}

.theme {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
}

#button {
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
}

body.dark-theme {
    background-color: rgb(0, 0, 0);
}

body.dark-theme #text {
    color: rgb(255, 255, 255);
}